
:root{
    --main-font-style: font-family: 'Noto Serif Georgian', serif;
    --secondary-font-style:font-family: 'Noto Sans Balinese', sans-serif;
    --primary-color:#2a2438;
    --secondary-color:#5c5470;
}

body{
    background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
.navbar-brand{
    font-family: 'Noto Serif Georgian', serif;
    color: var(--primary-color);
    
}
.nav-link{
    font-family:(--secondary-font-style);
    color: var(--secondary-color);
}
.homepage{
    display: block;
  text-align: center;
}
h1,h2,h3{
    font-family: (--main-font-style);
    color: var(--primary-color);
    
}

h2{
    font-size: medium;
    font-weight: 200
    ;
    padding-top: 1.em;
    padding-bottom: 0.5em;
}

h3{
    font-weight: 100;
    padding-top: none;
   
}

h4{
    font-family: (--main-font-style);
    font-weight: lighter;
}
p{
    font-family:(--secondary-font-style);
    color: var(--secondary-color);
    
}
#business{ 
  margin: auto;
  padding: 20px 20px 20px 20px
  ;
}

#fashion{
    margin: auto;
    padding: 20px 20px 20px 20px
}

#coding{
    margin: auto;
  padding: 20px 20px 20px 20px
}

#social-media{
    margin: auto;
    padding: 20px 20px 20px 20px
}
.button{
    padding: 1.5em;
}

.card
{
    display: inline-flex;
    align-items: center;
}

.socials{
    padding: 1.5em;
}

.card-title{
font-size: x-small;
}

#about-button{
  margin-top: 1.5em;
}

a :link {
    text-decoration: none;
}

a :hover {
     text-decoration: none;
}

#about-me{
    padding-top: 90px;
    padding-left: 20px;
    padding-right: 20px;
    color: black;
    font-family:(--secondary-font-style);
   text-align: center;
   

}
.about-me{
    text-align: center;
    padding-top: 70px;
font-size: 50px;
    padding-bottom: 0%;
}
 
  a :link {
    text-decoration: none;
    color: black;
  }

  a :hover{
    text-decoration: none;
  }

header{
    text-align: center;
}

#location{
    font-size: 25px;
}

footer{
   text-align:  center;
    display: block;
   
}

header{
    text-align:  center;
    display: block;
}

#skills{
    text-align: center;
}

#pattern-image{
    max-width: 55%;

}

#screenprint{
    max-width: 15%;
    max-height: 10%;
}

#reflection{
 
    background: linear-gradient(88.4deg, rgb(249, 206, 183) 4.6%, rgb(234, 174, 202) 26%, rgb(210, 182, 226) 49.1%, rgb(173, 209, 242) 86.5%);
}
#quote{
   
    text-align: center;
    padding-top: 125px;
}

#home{
    padding-top: 65px;
    text-align: center;
    padding-bottom: none
    ;
}

.fa-envelope{
    color: black;

}

.fa-linkedin{
    color: black;
}

.fa-file-lines{
    color: black;
}
#temper{
    text-align: center;
    font-size: x-small;
    
}

#cert{
    list-style: none;
}

#interests{
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

#frontend{
    text-align: center;
    padding-bottom: 60px;
    padding-top: 10px;
}

.frontend{
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    
}

